.header {
  padding: 10px 0 20px;
  text-align: center;
}

.header h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 97px;
  font-weight: 250;
  line-height: 1;
}

.header p {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.artworkContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1px;
}

@media screen and (min-width: 540px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 770px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}