.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 36px 0;
}

.header h1:hover,
.header span:hover {
	color: #111111;
}

.left h1 {
	font-size: 22px;
}

.right nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right nav li {
  font-size: 14px;
  font-weight: 600;
  margin-left: 16px;
}

.right nav a {
  color:#aaa;
  text-decoration: none;
}

.right nav a:hover {
  color: #000000;
}